@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'NM';
	src: url(../fonts/Noir-Medium.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NR';
	src: url(../fonts/Noir-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AL';
	src: url(../fonts/Arial-Light.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AR';
	src: url(../fonts/Arial-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AB';
	src: url(../fonts/Arial-Bold.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ABL';
	src: url(../fonts/Arial-Black.ttf);
	font-weight: normal;
	font-style: normal;
}

