@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'RobotoThin';
	src: url(../fonts/Roboto-Thin.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoLight';
	src: url(../fonts/Roboto-Light.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoReg';
	src: url(../fonts/Roboto-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoMedium';
	src: url(../fonts/Roboto-Medium.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBold';
	src: url(../fonts/Roboto-Bold.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBlack';
	src: url(../fonts/Roboto-Black.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBoldItalic';
	src: url(../fonts/Roboto-BoldItalic.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoItalic';
	src: url(../fonts/Roboto-Italic.ttf);
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'ITCBook';
	src: url(../fonts/ITCAvantGardeStdBk.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ITCBold';
	src: url(../fonts/ITCAvantGardeStdBold.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ITCMedium';
	src: url(../fonts/ITCAvantGardeStdMd.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ITCLight';
	src: url(../fonts/ITCAvantGardeStdXLt.otf);
	font-weight: normal;
	font-style: normal;
}

