@charset "utf-8";
/* CSS Document */
.box {
	height: 390px;
}
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing:border-box;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
a, a:hover {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
body {
	background: #fff;
	overflow-x: hidden;
	font-family: 'InterReg';
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
#main_wrapper {
	width: auto;
	height: auto;
	position: relative;
}
.section {
	width: 100%;
	height: auto;
	padding: 60px 8%;
	position: relative;
}
.section-l {
	padding: 60px 8%;
	position: relative;
}
.section-t {
    padding: 0px 15%;
}
.section-r {
    padding: 0 8% 60px;
}

.section-q {
    padding: 30px 15% 60px;
}
.no_pad {
	padding-top: 0;
}
.inner_wrap {
	width: 100%;
	height: auto;
	display: block;
}
.grey_sec {
	background-color: #f6f6f6;
}

/* HEADER */
.header {
    width: 100%;
    padding: 20px 8%;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.sh {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.header .hdr {
    width: auto;
    height: 52px;
    position: relative;
}
.header .hdr .b_logo {
    width: auto;
    height: 52px;
    float: left;
}
.header .hdr .b_logo img {
    width: auto;
    height: 52px;
}
.header .hdr .menu {
	width: 60%;
	text-align: center;
	margin-left: 5%;
    position: absolute;
	transform: translateX(-50%);
    left: 50%;
    top: 18px;
}
.header .hdr .menu ul {
    width: auto;
    display: block;
    height: auto;
}
.header .hdr .menu ul li {
    width: auto;
	height: inherit;
	display: inline-block;
	transition: all 0.4s ease;
	position: relative;
}
.header .hdr .menu ul li:nth-child(n+2) {
	margin-left: 3%;
}
.header .hdr .menu ul li a {
	color: #5a5b5c;
	display: block;
	letter-spacing: 0.8px;
	font-family: 'InterMedium';
	text-transform: uppercase;
	transition: color 0.4s ease;
	position: relative;
	font-size: 15px;
}
.header .hdr .menu ul li:hover a,
.header .hdr .menu ul li.active a {
	color: #00aff0;
}
.header .hdr .social {
    width: auto;
	position: absolute;
	transform: translateY(-50%);
    right: 0;
    top: 50%;
}
.header .hdr .social a {
    font-size: 15px;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    margin-left: 8px;
    width: 20px;
    height: 20px;
    color: #5a5b5c;
}
.header .hdr .social a.fa-envelope:hover {
    color: #0e76a8;
}
.header .hdr .social a.fa-linkedin-in:hover {
    color: #0e76a8;
}
.header .hdr .social a.fa-facebook-f:hover {
    color: #3b5998;
}
.header .hdr .social a.fa-twitter:hover {
    color: #1da1f2;
}
.header .hdr .social a.fa-instagram:hover {
    color: #c32aa3;
}
.header .hdr .social a.fa-youtube:hover {
    color: #c4302b;
}

/*BANNER*/
.banner {
    width: 100%;
    height: 85vh;
    position: relative;
}
.flexslider {
	width: 100%;
	height: 85vh;
	max-height: 85vh;
	overflow: hidden;
}
.flexslider .slides li {
	width: 100%;
	height: 85vh;
	max-height: 85vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}
.flexslider .slides li .overlay {
	width: 100%; 
	height: 85vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	left: 0;
	top: 0;
}
.flexslider-container {
	position: relative;
}
.flex-caption {
	width: 40%;
	height: auto;
	overflow: hidden;
    transform: translateY(-50%);
	position: absolute;
	z-index: 1;
	left: 8%;
	top: 52%;
}
.flex-caption .slide_header, 
.flex-caption .slide_desc {
	color: #fff;
	letter-spacing: 1.5px;
}
.flex-caption .slide_header {
	font-size: 45px;
	line-height: 1.2;
    margin-bottom: 10px;
	font-family: 'InterBlack';
	text-transform: uppercase;
}
.flex-caption .slide_desc {
	font-size: 17px;
	line-height: 1.4;
	font-family: 'InterLight';
    text-transform: uppercase;
}

.flexslider li .flex-caption .slide_header,
.flexslider li .flex-caption .slide_desc {
	animation-duration: .9s;
	animation-fill-mode: both;
	animation-name: fadeOutLeft;
}
.flexslider li.flex-active-slide .flex-caption .slide_header ,
.flexslider li.flex-active-slide .flex-caption .slide_desc {
	animation-duration: .9s;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
}
.flexslider li.flex-active-slide .flex-caption .slide_header {
	animation-delay: .5s;
}
.flexslider li.flex-active-slide .flex-caption .slide_desc {
	animation-delay: .7s;
}

.flex-direction-nav {
	display: block;
}
.flex-control-nav {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	z-index: 5;
	left: 0;
}
.flex-control-nav li {
	display: inline-block;
	margin: 0 3px;
}
.flex-control-nav li a {
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
	background: #fff;
	text-indent: 99999px;
	border-radius: 50%;
}
.flex-control-nav li a:hover {
	background: #ccc;
}
.flex-control-nav li a.flex-active {
	background: #167fc3;
	cursor: default;
}

/*FOOTER*/
.footer {
	width: 100%;
	padding: 20px 8%;
	position: relative;
	background-color: #F5F5F5;
}
.footer .inner_wrap .copyright {
    width: auto;
    float: left;
}
.footer .inner_wrap .create {
    width: auto;
    float: right;
}
.footer .inner_wrap .copyright a,
.footer .inner_wrap .create a {
	color: #000;
    position: relative;
    font-family: 'InterReg';
	line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 14px;
}
.footer .inner_wrap .create span {
    font-family: 'InterBold';
}

/*ABOUT US PAGE*/
.section .inner_wrap .sec_title,
.section-l .inner_wrap .sec_title {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: "InterBlack";
	font-size: 16px;
	color: #000;
}
/*.section .inner_wrap .sec_title::before {
	content:"";
	width: 8%;
	height: 1px;
	background-color: #000;
	transform: translateY(-50%);
	position: absolute;
	left: -10%;
	top: 50%;

}
.section .inner_wrap .sec_title::after {
	content:"";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #000;
	transform: translateY(-50%);
	position: absolute;
	left: -30px;
	top: 50%;

}
*/
.section .inner_wrap .major_caption {
	width: 57%;
	margin-bottom: 10px;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-family: "InterBold";
	font-size: 40px;
	color: #5dbcd2;
}
.section .inner_wrap .sec_caption .minor_caption {
	width: 65%;
	margin-bottom: 10px;
	line-height: 1.4;
	letter-spacing: 0.5px;
	font-family: "InterReg";
	font-size: 17px;
	color: #5a5b5c;
}
.section .inner_wrap .sec_cont {
	margin-top: 30px;
}
.section .inner_wrap .sec_cont .sec_photo {
	width: 27%;
	float: right;
}
.section .inner_wrap .sec_cont .sec_photo img {
	width: 100%;
	height: auto;
}
.section .inner_wrap .sec_cont .sec_det {
	width: 70%;
	float: left;
}
.section .inner_wrap .sec_cont .sec_det p {
	line-height: 1.5;
	letter-spacing: 0.6px;
	font-family: "InterReg";
	font-size: 16px;
	color: #5a5b5c;
}
.section .inner_wrap .sec_cont .sec_det p:nth-child(n+2) {
	margin-top: 15px;
}
.sec_row {
	padding: 60px 0 0;
}
.sec_row .act_summary {
	width: 30%;
	float: left;
}
.sec_row .act_summary .act_hld {
	width: 100%;
	height: auto;
	box-shadow: 0 0 10px #ccc;
}
.sec_row .act_summary .act_hld:nth-child(n+2) {
	margin-top: 15px;
}
.sec_row .act_summary .act_ic {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	transition: all 0.5s ease;
	cursor: pointer;
	padding: 20px 15%;
	color: #000;	
}
.sec_row .act_summary .act_ic .act_photo {
	width: 20%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
.sec_row .act_summary .act_ic .act_title {
	width: auto;
	height: auto;
	margin-left: 20%;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	line-height: 1.4;
	letter-spacing: 0.5px;
	font-family: "InterBlack";
	font-size: 16px;
	color: #5a5b5c;
}
.sec_row .act_summary .act_ic .act_photo img {
	width: 100%;
	height: auto;
}
.sec_row .act_summary .act_det {
	width: 100%;
	height: auto;
	display: none;
	padding: 20px 5%;
}
.sec_row .sec_det {
	width: 70%;
	float: right;
	padding-left: 10%;
}
.sec_row .sec_det .mini_caption {
	margin-bottom: 10px;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-family: "InterBold";
	font-size: 40px;
	color: #5dbcd2;
}
.sec_row .sec_det p {
	line-height: 1.5;
	letter-spacing: 0.6px;
	font-family: "InterReg";
	font-size: 16px;
	color: #5a5b5c;
}
.sec_row .sec_det p:nth-child(n+2) {
	margin-top: 15px;
}

/*SERVICES SECTION*/
.srv_wrap {
	margin-top: 30px;
	position: relative;
}
.srv_wrap .srv_hld {
    width: 32%;
    height: 40vh;
    position: relative;
	background: #000;
	box-shadow: 0 0 8px #ccc;
    float: left;
}
.srv_wrap .srv_hld:nth-child(3n), 
.srv_wrap .srv_hld:nth-child(3n-1) {
    margin-left: 2%;
}
.srv_wrap .srv_hld:nth-child(n+4) {
    margin-top: 20px;
}
.srv_wrap .srv_hld .srv_photo {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.srv_wrap .srv_hld:hover .srv_photo {
	opacity: 0.3;
}
.srv_wrap .srv_hld .srv_det {
    width: 100%;
	height: 100%;
	padding: 32vh 8% 0;
	transition: all 0.7s ease;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.srv_wrap .srv_hld:hover .srv_det {
	padding: 5vh 8% 0;
}
.srv_wrap .srv_hld .srv_det .srv_title {
	width: 100%;
	position: relative;
	letter-spacing: 0.5px;
	margin-bottom: 3px;
    text-transform: uppercase;
    font-family: 'InterBold';
	font-size: 20px;
	color: #fff;
}
.srv_wrap .srv_hld .srv_det .srv_text {
	position: absolute;
	top: 12vh;
	left: 8%;
	right: 8%;
	bottom: 5vh;
	overflow: hidden;
}
.srv_wrap .srv_hld .srv_det .srv_text p {
	width: 100%;
	opacity: 0;
	display: none;
	transition: all 2.7s ease;
	letter-spacing: 0.7px;
	line-height: 1.4;
    font-family: 'InterLight';
	font-size: 15px;
	color: #fff;
}
.srv_wrap .srv_hld:hover .srv_det .srv_text p {
	display: block;
	opacity: 1;
}

/*CLIENTS*/
.section-l .inner_wrap .major_caption {
	width: 75%;
	margin-bottom: 10px;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-family: "InterBold";
	font-size: 40px;
	color: #5dbcd2;
}
.section-l .inner_wrap .sec_caption .minor_caption {
	width: 80%;
	margin-bottom: 10px;
	line-height: 1.4;
	letter-spacing: 0.5px;
	font-family: "InterReg";
	font-size: 17px;
	color: #5a5b5c;
}
.section-l .inner_wrap .client_wrap {
	margin-top: 40px;
}
.section-l .inner_wrap .client_wrap .client_hld {
	width: 24.85%;
	height: 150px;
	position: relative;
	background-color: #fff;
	transition: box-shadow 0.3s ease-in;
	float: left;
}
.section-l .inner_wrap .client_wrap .client_hld:nth-child(4n),
.section-l .inner_wrap .client_wrap .client_hld:nth-child(4n-1),
.section-l .inner_wrap .client_wrap .client_hld:nth-child(4n-2) {
	margin-left: 0.2%;
}
.section-l .inner_wrap .client_wrap .client_hld:nth-child(n+5) {
	margin-top: 2px;
}
.section-l .inner_wrap .client_wrap .client_hld:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	z-index: 1;
}
.section-l .inner_wrap .client_wrap .client_hld a {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	letter-spacing: 0.5px;
	text-align: center;
	font-family: 'InterMedium';
	text-transform: capitalize;
	font-size: 16px;
	color: #a1a1a1;
	transition: color 0.3s ease;
}
.section-l .inner_wrap .client_wrap .client_hld:hover a {
	color: #000;
}
.section-l .inner_wrap .client_wrap .client_hld a span {
	position: absolute;
	padding: 0 25px;
	transform: translateY(-50%);
	right: 0;
	left: 0;
	top: 50%;
}

/*CONTACT US*/
.cont_wrap {
	margin-top: 40px;
}
.cont_wrap .inner_wrap .info_wrap {
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: top; 
}
.cont_wrap .inner_wrap .info_wrap:nth-child(n+2) {
	margin-left: 7%;
}
.cont_wrap .inner_wrap .info_wrap .info_hd {
	font-family: 'InterMedium';
	font-size: 19px;
	margin-bottom: 10px;
	color: #000;
}
.cont_wrap .inner_wrap .info_wrap p {
	line-height: 1.5;
	font-size: 15px;
	font-family: 'InterReg';
	letter-spacing: 0.3px;
	color: #5a5b5c;
}
.cont_wrap .inner_wrap .info_wrap p a {
	color: #5a5b5c;
	font-family: 'InterReg';
	font-size: 15px;
}
#map {
    height: 450px;
    border: 1px solid #f6f4f2;
}






/*
.section .inner_wrap .breadcrumb {
	padding: 5px 0 10px;
	border-bottom: 1px solid #dcdcdc;
}
.section .inner_wrap .breadcrumb ul li {
	width: auto;
	float: left;
	cursor: pointer;
	position: relative;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	text-transform: uppercase;
	letter-spacing: 0.7px;
	font-family: "RobotoMedium";
	font-size: 14px;
	color: #5a5b5c;
}
.section .inner_wrap .breadcrumb ul li:hover,
.section .inner_wrap .breadcrumb ul li:active {
	color: #167fc3;
}
.section .inner_wrap .breadcrumb ul li:before {
	content: "";
	width: 0;
	height: 1px;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	background-color: #167fc3;
	position: absolute;
	bottom: -11px;
	left: 0;
}
.section .inner_wrap .breadcrumb ul li:hover:before,
.section .inner_wrap .breadcrumb ul li:active:before,
.section .inner_wrap .breadcrumb ul li:focus:before {
	width: 100%;
}
.section .inner_wrap .breadcrumb ul li a {
	color: #5a5b5c;
	transition: color 0.5s cubic-bezier(0.4,0,0.2,1);
}
.section .inner_wrap .breadcrumb ul li a:hover {
	color: #167fc3;
}
.section .inner_wrap .breadcrumb ul li:nth-child(n+2) {
	margin-left: 45px;
}
.section .inner_wrap .sec_title,
.section-t .inner_wrap .sec_title,
.section-q .inner_wrap .sec_title {
	width: auto;
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	text-transform: capitalize;
	font-family: "RobotoReg";
	font-size:28px;
	color: #5a5b5c;
}
.det_text p {
	line-height: 1.5;
	font-family: "RobotoReg";
	font-size: 17px;
	color: #5a5b5c;
}
.det_text p:nth-child(n+2) {
	margin-top: 15px;
}
.p_cut {
	width: 75%;
}
.section .inner_wrap .brochure {
	width: 100%;
	height: auto;
	margin: 15px 0 20px;
}
.section .inner_wrap .brochure .bro_cont {
	width: 33.13%;
	height: 27vh;
	position: relative;
	background-color: #fff;
	transition: box-shadow 0.3s ease-in;
	float: left;
}
.section .inner_wrap .brochure .bro_cont:nth-child(3n),
.section .inner_wrap .brochure .bro_cont:nth-child(3n-1) {
	margin-left: 0.2%;
}
.section .inner_wrap .brochure .bro_cont:nth-child(n+4) {
	margin-top: 2px;
}
.section .inner_wrap .brochure .bro_cont:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	z-index: 1;
}
.section .inner_wrap .brochure .bro_cont a {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	letter-spacing: 0.5px;
	text-align: center;
	font-family: 'RobotoMedium';
	font-size: 19.5px;
	color: #a1a1a1;
	transition: color 0.3s ease;
}
.section .inner_wrap .brochure .bro_cont a span {
	position: absolute;
	padding: 0 20px;
	transform: translateY(-50%);
	right: 0;
	left: 0;
	top: 50%;
}

.section .inner_wrap .col_inner {
	margin-top: 20px;
}
.section .inner_wrap .col_inner .p_hld {
	width: 24%;
    height: auto;
    position: relative;
    background-color: #eaeaea;
    float: left;
}
.section .inner_wrap .col_inner .p_hld:nth-child(4n),
.section .inner_wrap .col_inner .p_hld:nth-child(4n-1),
.section .inner_wrap .col_inner .p_hld:nth-child(4n-2) {
	margin-left: 1.33%;
}
.section .inner_wrap .col_inner .p_hld:nth-child(n+5){
	margin-top: 30px;
}

.section .inner_wrap .col_inner .p_hld .p_photo {
	width: 100%;
    height: 56vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.section .inner_wrap .col_inner .p_hld .p_hdr {
	padding: 20px;
    background: rgba(0, 0, 0, 0.65);
    text-transform: capitalize;
    color: #fff;
	position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.section .inner_wrap .col_inner .p_hld .p_hdr .p_name {
	width: 100%;
	font-family: 'RobotoLight';
	display: inline-block;
	letter-spacing: 0.6px;
    font-size: 22px;
	line-height: 1.2;
}
.section .inner_wrap .col_inner .p_hld .p_hdr .p_title {
	width: 100%;
	display: inline-block;
	font-family: 'RobotoReg';
	letter-spacing: 1px;
    font-size: 13px;
}
.section-q .inner_wrap .col_inner .v-wrap {
	width: 30%;
	height: auto;
	float: left;
}
.section-q .inner_wrap .col_inner .v-wrap:nth-child(3n),
.section-q .inner_wrap .col_inner .v-wrap:nth-child(3n-1) {
	margin-left: 5%;
}
.section-q .inner_wrap .col_inner .v-wrap:nth-child(n+4) {
	margin-top: 40px;
}
.section-q .inner_wrap .col_inner .v-wrap .v-title {
	width: auto;
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	font-family: "RobotoBold";
	font-size: 27px;
	color: #5a5b5c;
}
.section-q .inner_wrap .col_inner .v-wrap .v-det {
	color: #5a5b5c;
}
.section-q .inner_wrap .col_inner .v-wrap .v-det:nth-child(n+2) {
	margin-top: 13px;
}
.section-q .inner_wrap .col_inner .v-wrap .v-det .v-hd {
	line-height: 1.4;
	letter-spacing: 0.4px;
	font-family: "RobotoMedium";
	font-size: 15px;
}
.section-q .inner_wrap .col_inner .v-wrap .v-det .v-sd {
	line-height: 1;
	margin-top: 3px;
	letter-spacing: 0.4px;
	font-family: "RobotoReg";
	font-size: 13px;
}

/*PROJECTS*/
.proj_hld {
    width: 32%;
    height: 220px;
    position: relative;
    background: #000;
    float: left;
}
.proj_hld:nth-child(3n), 
.proj_hld:nth-child(3n-1) {
    margin-left: 2%;
}
.proj_hld:nth-child(n+4) {
    margin-top: 20px;
}
.proj_hld .proj_photo {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.proj_hld:hover .proj_photo {
	opacity: 0.8;
}
.proj_hld  a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.proj_hld a .proj_det {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 10%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'RobotoReg';
    font-size: 19px;
}
.proj_hld a .proj_det:before {
    content: '';
    width: 20%;
    height: 2px;
    position: absolute;
    left: 0;
    top: -15px;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
}
.proj_hld:hover a .proj_det:before {
	width: 30%;
}
.proj_hld a .proj_det span {
	width: 100%;
	display: inline-block;
}
.proj_hld a .proj_det .proj_name {
	letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-size: 19px;
}
.proj_hld a .proj_det .proj_loc {
	margin-top: 5px;
	letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'RobotoLight';
    font-size: 14px;
}

/*NEWS*/
.section-q .inner_wrap .news_hld {
	width: 48%;
	height: 270px;
	float: left;
	padding: 30px;
	position: relative;
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-color: #eaeaea;
}
.section-q .inner_wrap .news_hld:nth-child(2n) {
	margin-left: 4%;
}
.section-q .inner_wrap .news_hld:nth-child(n+3) {
	margin-top: 30px;
}
.news_hld a {
	width: 100%;
	height: 100%;
	padding: 30px;
	display: inline-block;
	background: rgba(0,0,0,0.4);
	transition: all ease 0.6s;
	position: absolute;
	left: 0;
	top: 0;
}
.news_hld a:hover {
	background: rgba(0, 0, 0, 0.2);
}
.news_hld a .info_date {
	width: auto;
	text-transform: uppercase;
	position: absolute;
	line-height: 1.2;
	font-family: 'RobotoMedium';
	color: #fff;
	z-index: 2;
}
.news_hld a .info_date .day,
.news_hld a .info_date .mth {
	display: inline-block;
	vertical-align: middle;
}
.news_hld a .info_date .day {
	font-size: 38px;
}
.news_hld a .info_date .mth {
	width: 60px;
	font-size: 14px;
	margin-left: 6px;
}
.news_hld a .info_cat {
	width: auto;
	position: absolute;
	text-transform: capitalize;
	background: rgba(0,0,0,0.3);
	font-family: 'RobotoReg';
    line-height: 1;
    color: #fff;
	font-size: 14px;
	letter-spacing: 0.6px;
    border-radius: 15px;
	padding: 7px 14px;
	right: 30px;
}
.news_hld a .info_title {
	font-size: 20px;
	position: absolute;
	letter-spacing: 0.6px;
	text-transform: capitalize;
	font-family: 'RobotoReg';
	line-height: 1.2;
	color: #fff;
	right: 30px;
	left: 30px;
	top: 160px;
}

/* CAREERS */
.section-q .inner_wrap .car_hld {
	border: 1px solid #f6f4f2;
}
.section-q .inner_wrap .car_hld:nth-child(n+2) {
	margin-top: 15px;
}
.section-q .inner_wrap .car_hld .ic {
	width: 100%;
	height: 80px;
	display: inline-block;
	position: relative;
	background-color: #f6f6f6;
	transition: all 0.5s ease;
	cursor: pointer;
	padding: 30px 5%;
	color: #000;	
}
.section-q .inner_wrap .car_hld .ic .ic_text {
	width: 80%;
	line-height: 1.4;
	font-size: 16px;
	letter-spacing: 0.6px;
	font-family: 'RobotoBold';
	display: inline-block;
	position: absolute;
	color: #5a5b5c;
	top: 20px;
}
.section-q .inner_wrap .car_hld .ic .ic_info {
	width: 80%;
	line-height: 1.4;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-family: 'RobotoReg';
	display: inline-block;
	position: absolute;
	color: #5a5b5c;
	bottom: 20px;
}
.section-q .inner_wrap .car_hld .ic .ic_info .ic_loc {
	margin-left: 15px;
}
.section-q .inner_wrap .car_hld .ic .ic_sign {
	width: 5%;
	height: auto;
	color: #f58634;
	font-size: 25px;
	font-family: 'RobotoMedium';
	display: inline-block;
	transform: translateY(-50%);
	vertical-align: middle;
	position: absolute;
	right: 4%;
	top: 50%;
}
.section-q .inner_wrap .car_hld .ic .ic_sign .sp-2 {
	display: none;
}
.section-q .inner_wrap .car_hld .ic .ic_sign .sp-2.sld {
	display: block;
}
.section-q .inner_wrap .car_hld .ic .ic_sign .sp-1.sld{
	display: none;
}
.section-q .inner_wrap .car_hld .car_det {
	width: 100%;
	height: auto;
	display: none;
	padding: 20px 5%;
}
.section-q .inner_wrap .car_hld .car_det p.lst {
	line-height: 1.4;
	letter-spacing: 0.6px;
	margin-top: 15px;
	font-family: "RobotoReg";
	font-size: 15px;
	color: #5a5b5c;
}
.section-q .inner_wrap .car_hld .car_det p.lst a {
	color: #00aff0;
}
.section-q .inner_wrap .car_hld .car_det .sub_text p {
	line-height: 1.4;
	letter-spacing: 0.6px;
	font-family: "RobotoReg";
	font-size: 12px;
	color: #5a5b5c;
}
.section-q .inner_wrap .car_hld .car_det .sub_text p:nth-child(n+2) {
	margin-top: 8px;
}
.car_hld .car_det .sub_h {
	margin-top: 20px;
	margin-bottom: 5px;
	letter-spacing: 0.7px;
	font-family: "RobotoReg";
	text-transform: capitalize;
	font-size: 16px;
	color: #5a5b5c;
}
.car_hld .car_det .sub_h:first-child {
	margin-top: 0;
}
.car_hld .car_det .sub_text ul {
	margin-top: 5px;
}
.car_hld .car_det .sub_text ul li {
	position: relative;
	padding-left: 15px;
	line-height: 1.5;
	letter-spacing: 0.6px;
	text-transform: capitalize;
	font-family: "RobotoReg";
	font-size: 14px;
	color: #5a5b5c;
}
.car_hld .car_det .sub_text ul li:before {
	content: "";
	width: 4px;
	height: 4px;
	background-color: #5a5b5c;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 10px;
}

/* CONTACT US */
.section-q .inner_wrap .info_wrap {
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: top; 
}
.section-q .inner_wrap .info_wrap:nth-child(n+2) {
	margin-left: 7%;
}
.section-q .inner_wrap .info_wrap .info_hd {
	font-family: 'RobotoMedium';
	font-size: 19px;
	margin-bottom: 10px;
	color: #000;
}
.section-q .inner_wrap .info_wrap p {
	line-height: 1.5;
	font-size: 16px;
	font-family: 'RobotoReg';
	letter-spacing: 0.3px;
	color: #5a5b5c;
}
.section-q .inner_wrap .info_wrap p a {
	color: #5a5b5c;
	font-family: 'RobotoReg';
	font-size: 16px;
}
#map {
    height: 450px;
    border: 1px solid #f6f4f2;
}

/*DETAILS PAGE*/
.section .inner_wrap .det_hld .det_title {
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.1;
    letter-spacing: 0.7px;
    font-family: "RobotoBlack";
    font-size: 50px;
}
.section .inner_wrap .det_hld .b_crumb {
	margin-bottom: 50px;
}
.section .inner_wrap .det_hld .b_crumb .row_cont {
    width: auto;
    float: left;
    position: relative;
}
.section .inner_wrap .det_hld .b_crumb .row_cont,
.section .inner_wrap .det_hld .b_crumb .row_cont a {
    line-height: 1;
	letter-spacing: 0.4px;
	text-transform: capitalize;
    transition: color 0.5s ease;
    font-family: "RobotoMedium";
    font-size: 15px;
    color: #5a5b5c;
}
.section .inner_wrap .det_hld .b_crumb .row_cont:nth-child(n+2) {
    margin-left: 35px;
}
.section .inner_wrap .det_hld .b_crumb .row_cont:nth-child(2):before, 
.section .inner_wrap .det_hld .b_crumb .row_cont:nth-child(2):after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #5a5b5c;
    position: absolute;
    top: 50%;
}
.section .inner_wrap .det_hld .b_crumb .row_cont:nth-child(2):before {
	left: -20px;
}
.section .inner_wrap .det_hld .b_crumb .row_cont:nth-child(2):after {
	right: -20px;
}
.det_photo {
	margin-bottom: 40px;
}
.det_photo .flexslider {
	width: 100%;
	height: 60vh;
	position: relative;
	max-height: 60vh;
	overflow: hidden;
}
.det_photo .flexslider .slides li {
	width: 100%;
	height: 60vh;
	max-height: 60vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}
.det_photo .flex-control-nav {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	z-index: 5;
	left: 0;
}
.det_photo .flex-control-nav li {
	display: inline-block;
	margin: 0 3px;
}
.det_photo .flex-control-nav li a {
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
	background: #ccc;
	text-indent: 99999px;
	border-radius: 50%;
}
.det_photo .flex-control-nav li a:hover {
	background: #eaeaea;
}
.det_photo .flex-control-nav li a.flex-active {
	background: #167fc3;
	cursor: default;
}
.section .inner_wrap .det_hld .proj_info {
	margin-top: 45px;
}
.section .inner_wrap .det_hld .proj_info .info_cap {
	letter-spacing: 0.4px;
	text-transform: uppercase;
    transition: color 0.5s ease;
    font-family: "RobotoBold";
    font-size: 19px;
    color: #181818;
}
.section .inner_wrap .det_hld .proj_info .info_det {
	margin-top: 10px;;
}
.section .inner_wrap .det_hld .proj_info .info_det .info_title:nth-child(n+2) {
	margin-top: 7px;
}
.section .inner_wrap .det_hld .proj_info .info_det .info_title span {
	display: inline-block;
	letter-spacing: 0.4px;
	text-transform: capitalize;
    transition: color 0.5s ease;
    font-family: "RobotoReg";
    font-size: 16px;
    color: #5a5b5c;
}
.section .inner_wrap .det_hld .proj_info .info_det .info_title span:nth-child(1) {
	width: 15%;
}
.section .inner_wrap .det_hld .proj_info .info_det .info_title .info_list {
	width: 68%;
	display: inline-block;
	vertical-align: top;
}
.section .inner_wrap .det_hld .proj_info .info_det .info_title .info_list li {
	letter-spacing: 0.4px;
	margin-bottom: 4px;
	margin-left: -2px;
	text-transform: capitalize;
    transition: color 0.5s ease;
    font-family: "RobotoReg";
    font-size: 16px;
    color: #5a5b5c;
}
.det_soc {
	width: auto;
	margin-top: 55px;
}

.det_soc .soc_text {
	width: auto;
	color: #5a5b5c;
	font-size: 14px;
	position: relative;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-family: 'RobotoMedium';
	display: inline-block;
	margin-right: 30px;
}
.det_soc .soc_text:after {
	content: '';
	width: 30px;
	height: 1px;
	margin-left: 12px;
	position: absolute;
	transform: translateY(-50%);
	background-color: #5a5b5c;
	top: 50%;
}
.det_soc a {
    font-size: 14px;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    margin-left: 20px;
    width: auto;
    height: auto;
    color: #5a5b5c;
}
.det_soc a.fa-facebook-f:hover {
    color: #3b5998;
}
.det_soc a.fa-twitter:hover {
    color: #1da1f2;
}
.det_soc a.fa-instagram:hover {
    color: #c32aa3;
}
*/